body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.calculator {
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: auto;
  padding: 20px;
  color: #fff;
}

.calculator input {
  width: 95%;
  padding: 10px;
  font-size: 32px;
  border: none;
  margin-bottom: 20px;
  text-align: right;
  background-color: white;
  color: #000;
}

.calculator .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calculator .row .button {
  flex: 1;
  padding: 17px;
  margin: 5px;
  font-size: 24px;
  text-align: center;
  background-color: #333;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.calculator .row .button:hover {
  background-color: #555;
}

.calculator .row .button:active {
  background-color: #777;
}

.calculator .row .button.operator {
  background-color: #ff9500;
}

.calculator .row .button.operator:hover {
  background-color: #ffad33;
}

.calculator .row .button.operator:active {
  background-color: #cc7a00;
}
